spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    # create db fellaverse manually in IDEA
    url: jdbc:mysql://localhost:3306/fellaverse?serverTimeZone=UTC&useSSL=true
    username: root
    password: shuwei1379