server:
  port: 7002
spring:
  application:
    name: provider-checkin
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    # create db fellaverse manually in IDEA
    url: jdbc:mysql://fellaverse.mysql.database.azure.com:3306/fellaverse?useSSL=true
    username: fella
    password: zesqiq-6ryvte-Cejxew
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
# register this microservice to eureka server
eureka:
  instance:
    hostname: localhost
    instance-id: provider-checkin-7002
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${eureka.client.eureka-server-port}/eureka/
    eureka-server-port: 8761
# enable eureka status, then we can access to port/actuator/info
management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
# springboot actuator info
info:
  app.name: microservice-management
  author: GCH

fellaverse:
  security:
    config:
      jwt:
        sign: fellaverse
        issuer: fellas
        secret: www.fellaverse.com/gch/darren/chiu/jingshuo
        expire: 3600
      password:
        encrypt:
          repeat: 5
          salt: www.fellaverse.com
